.promo-bar__container {
  box-sizing: border-box;
  outline: none;
  box-shadow: none;
  margin: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  transition: opacity 0.6s ease-in-out;
  color: #000;
  display: flex;
  position: relative;
  overflow: hidden;
  padding: 13px 0;
  min-height: 50px;
  opacity: 1;
  background-color: #ededed;
}
.marquee-text-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  position: relative;
}
.marquee-text-text span {
  animation: marquee 20s linear infinite;
  position: absolute;
  top: 0px;
}
@keyframes marquee {
  0% {
    transform: translate(0%, 0);
  }
  100% {
    transform: translate(-10%, 0);
  }
}

@media screen and (max-width: 1020px) {
  .promo-bar__container {
   
    padding: 9px 0;
    min-height: 40px;
    font-size: 0.9rem;
   
  }

}
@media screen and (max-width: 550px) {
  .promo-bar__container {
   
    padding: 7px 0;
    min-height: 35px;
    font-size: 0.8rem;
   
  }

}
