.summary__cart__main {
    width: 100%;
    display: flex;
    
  }

  .summary__cart__left{
      display: flex;
      flex-direction: column;
      flex: 2;
  }
  .summary__address__info{
      border-top: 1px solid #e6e6e6;
      border-bottom: 1px solid #e6e6e6;
      margin-bottom: 1.2rem;
      padding: 1.3rem 0;
      width: 93%;
      margin: 0px 15px 15px 15px;
  }

  .summary__title{
      margin-left: .9375rem;
     
      font-family: 'Oswald', sans-serif;
      text-transform: uppercase;
  }


  @media screen and (max-width: 1020px) {
    .summary__cart__main{
      
      flex-direction: column;
    }
    .checkout__cart__resume{
      margin: 1rem 0;
    }
  }