:root{
  --text-color-primary: #222;
  --text-color-secondary: #222;

  --primary-color: #3ff;
  --secondary-color: #222;

  --bg-color:#fff;
  
  --gray-color: #f2f2f2;
  --black-color: #1e1e1e;
  --white-color: #fff;
  --gray-dark-color: #878787;
}




*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}




@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
  } 
  
  @-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
  
  .fadeIn {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
  }
  
  
  .circular-btn {
    border-radius: 30px;
  }
  
  .circular-btn:hover {
    background-color: #274494;
  }
  
  
  .summary-card {
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
  }


  .f{
    display: flex;
  }
  .jce{
    justify-content: center;
  }
  .aic{
    align-items: center;
  }

  @media screen and (min-width: 1050px) {
    .hide-on-desktop{
      display: none;
    }
  }
  @media screen and (max-width: 1050px) {
    .hide-on-movile{
      display: none;
    }
  }

input,
select,
button {
  background-color: transparent;
  border: none;
  border-radius: 0;
  box-shadow: none;
  color: inherit;
  font-size: inherit;
  margin: 0;
  outline: none;
  padding: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
}

ul li{
  list-style: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid #222;
  -webkit-text-fill-color: #222;
  
  transition: background-color 5000s ease-in-out 0s;
  
}


.title{
  font-size: 50px;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  margin: 1rem 0;
}

@media screen and (max-width: 1050px) {
  .title{
    font-size: 40px;
    margin-top: 25px;
  }
}
  