.product__description-size {
    width: 100%;
    padding: 25px 0;
  }
  .product__description-size h6 {
    font-size: 14px;
    font-family: "Helvetica Neue", sans-serif;
    color: #1e1e1e;
    margin-bottom: 10px;
    font-weight: 200;
  }
  .product__description-size .size {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
  }
  .btn-size {
    cursor: pointer;
  
    border: solid 1px #ededed;
    border-radius: 6px;
    min-width: 44px;
    height: 44px;
    font-size: 14px;
    padding: 5px;
    transition: border-color 0.4s;
    background-color: #ededed;
  }
  .btn-size.active {
    border-color: #000;
  }